[
  {
    title: "Whppt-Server"
    group: "Whppt"
    paths: [
      "~/src/whppt/server"
    ]
  }
  {
    title: "Whppt-Webapp"
    group: "Whppt"
    paths: [
      "~/src/whppt/webapp"
      "~/src/whppt/webapp/webapp"
    ]
    color: "green"
  }
]
