# This file is used by Atom Toolbar Preferred to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/atom-toolbar-preferred
[
  {
    type: 'button'
    tooltip: 'Open Folder'
    callback: 'application:open-folder'
    icon: 'folder-open'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Save File'
    callback: 'core:save'
    icon: 'archive'
    iconset: 'ion'
  },
  {
    type: 'button'
    tooltip: 'List projects'
    dependency: 'project-manager'
    callback: 'project-manager:list-projects'
    icon: 'file-submodule'
  },
  {
    type: 'button'
    tooltip: 'Reload Window'
    callback: 'window:reload'
    icon: 'refresh'
    iconset: 'fa'
  },
  {
    type: 'spacer'
  },
  {
    type: 'button'
    tooltip: 'Markdown Preview'
    dependency: 'markdown-preview'
    callback: 'markdown-preview:toggle'
    show: 'markdown'
    icon: 'social-markdown'
    iconset: 'ion'
  },
  {
    type: 'button'
    tooltip: 'HTML Preview'
    dependency: 'atom-html-preview'
    callback: 'atom-html-preview:toggle'
    show: 'html'
    icon: 'html5'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Find in Buffer'
    callback: 'find-and-replace:toggle'
    icon: 'search'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Project: To-Do List'
    callback: 'todo-show:find-in-open-files'
    icon: 'list-ul'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Git'
    dependency: 'github'
    callback: 'github:toggle-git-tab'
    icon: 'git-plain'
    iconset: 'devicon'
  },
  {
    type: 'spacer'
  },
  {
    type: 'button'
    tooltip: 'Toggle Fullscreen'
    callback: 'window:toggle-full-screen'
    icon: 'arrow-expand-all'
    iconset: 'mdi'
  },
  {
    type: 'button'
    tooltip: 'Split screen - Vertically'
    callback: 'pane:split-right'
    icon: 'format-horizontal-align-center'
    iconset: 'mdi'
  },
  {
    type: 'button'
    tooltip: 'Split screen - Horizontally'
    callback: 'pane:split-down'
    icon: 'format-vertical-align-center'
    iconset: 'mdi'
  },
  {
    type: 'button'
    tooltip: 'Split Diff'
    dependency: 'split-diff'
    callback: 'split-diff:toggle'
    icon: 'clone'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Toggle Sidebar'
    callback: 'tree-view:toggle'
    icon: 'sitemap'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Toggle Minimap'
    dependency: 'minimap'
    callback: 'minimap:toggle'
    icon: 'map'
    iconset: 'fa'
  },
  {
    type: 'spacer'
  },
  {
    type: 'button'
    tooltip: 'Fold All'
    callback: 'editor:fold-all'
    icon: 'angle-double-up'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Unfold All'
    callback: 'editor:unfold-all'
    icon: 'angle-double-down'
    iconset: 'fa'
  },
  {
    type: 'spacer'
  },
  {
    type: 'button'
    tooltip: 'Open Terminal'
    callback: 'atom-ide-terminal:new-terminal'
    icon: 'terminal'
    iconset: 'fa'
  },
  # {
  #   type: 'button'
  #   tooltip: 'Run Script'
  #   callback: 'script:run-with-profile'
  #   icon: 'play-circle'
  #   iconset: 'fa'
  # },
  # {
  #   type: 'button'
  #   tooltip: 'Stop Script'
  #   callback: 'script:kill-process'
  #   icon: 'stop-circle'
  #   iconset: 'fa'
  # },
  {
    type: 'button'
    tooltip: 'Config Script'
    callback: 'script:run-options'
    icon: 'sliders'
    iconset: 'fa'
  },
  {
    type: "spacer"
  },
  {
    type: "button"
    callback: "atom-toolbar-preferred:edit-config-file"
    tooltip: "Edit Tool Bar"
    icon: "tools"
  }
]
